* {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 224, 237);
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

#links {
    float: right;
}

#header-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9vh;
    font-style: italic;
    padding-left: 10%;
}

#main-container {
    background-color: white;
    height: 100%;
    opacity: 1;
}

hr {
    fill: rgb(241, 224, 237);
    border-color: rgb(241, 224, 237);
    filter: drop-shadow(20px 20px 11px black);
    width:100%;
}

#home-link {
    font-size: 3vh;
    margin-left: 30%;
    color: black;
    text-decoration: none;
    padding: 4vh;
}

#facebook-link {
    font-size: 3vh;
    color: black;
    text-decoration: none;
    padding: 4vh;
}

#github-link {
    font-size: 3vh;
    color: black;
    text-decoration: none;
    padding-left: 4vh;
}

#container {
    padding-left: 10%;
    padding-top: 10%;
    font-size: 6vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes cont-anim {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#lines {
    font-size: 5vh;
    animation-name: cont-anim;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes cont-anim {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#intro-line {
    font-family: segoe script;
    animation-name: intro-anim;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes intro-anim {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#love {
    color: red;
    font-style: italic;
    font-weight: bold;
}

#images {
    position: relative;
    left: 60%;
    bottom: 50vh;
}

#leftl,
#rightl {
    margin-left: 5%;
    max-width: 4vw;
    height: auto;
    width: 100%;
    position: relative;
    right: 50px;
    transform: translateX(-110%);
    opacity: 0;
    animation-name: leaf-anim;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes leaf-anim {
    from {
        transform: translateX(110%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

#slider1 {
    margin-top: 20vh;
    max-width: 25vw;
    height: auto;
    width: 100%;
    transform-style: flat;
    transform: translateX(-100%);
    transform-origin: right;
    animation-name: slider-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slider-anim {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0%);
    }
}

#image-right {
    position: relative;
    right: 100px;
}

#about {
    text-align: center;
    font-size: 6vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#cris-image1,
#salting-image {
    padding: 50px;
    margin-left: 7%;
    height: 60vh;
    width: 60vh;
}

#cris1-intro,
#salting-intro {
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 100px;
}

#salting-img {
    height: 700px;
    width: 560px;
}

#cris1-img,
#cris2-img,
#salting-img {
    box-shadow: -12px -12px 12px 0 rgb(255, 255, 255, 1), 12px 12px 12px 0 rgb(0, 0, 0, .3);
    height: 80vh;
    width: 60vh;
}

#cris-image2 {
    padding: 50px;
    margin-left: 55%;
    padding-top: 30vh;
    width: 60vh;
}

#salting-image {
    position: relative;
    top: px;
}

#cris2-intro {
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 100px;
}

#small-train1 {
    height: 80px;
    width: 70px;
}
